.movie {
  background-color:rgba(51, 43, 163, 0.883);
  margin: 1rem;
  width: 260px;  
  border-radius: 3px; 
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.movie img {
  object-fit: cover;
  width: 100%;
  height: fit-content;
}
.movie_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.movie_info h3 {
   margin: 0; 
}

.movie_overview {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: whitesmoke;
   color: rgba(58, 52, 149, 0.787);
   font-weight: 600;
   padding: 1rem;
   transform: translateY(102%);
   transition: transform 0.3s ease-in-out;

   overflow: auto;
   max-height: auto;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
   box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
}
.movie:hover .movie_overview {
    transform: translateX(0);
}

.tag {
  background-color: #22254b;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
}
.tag.green {
    color: rgb(139, 221, 16);
}
.tag.orange {
    color: orange;
}
.tag.red {
    color: red;
}
