
.logo {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 900;
    padding-left: 2rem;
    color:rgba(255, 255, 255, 0.918) !important;
}
.logo span {
    color: rgba(95, 1, 1, 0.685);
}

.navbar {
    height: 90px;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}